
<ion-header>
  <ion-navbar color="danger">
    <button ion-button  menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pokédex</ion-title>
  </ion-navbar>
</ion-header>

  
<ion-content padding>

  <h3 class="center-text">Search Pokémon by Name or ID</h3>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchPokemon($event)"
          placeholder="Pokémon name"
          debounce=500
          autocomplete="on">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-grid>
      <div *ngIf="pokemons.length > 0; else loading">
        <ion-row *ngFor="let pokemon of pokemons">

            <ion-col col-12 class="center-text">
                <h4>{{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}</h4>
                <p>N° {{ pokemon.id > 10 ? pokemon.id : '0' + pokemon.id}}</p>
              <img class="profile" src= '{{pokemon.sprites.front_default}}' alt="">
              <ion-icon name="md-heart" class="heart" (click)='addFavorite(pokemon);'></ion-icon>
      
            </ion-col>
            
            <ion-col>
              <h4>Type</h4>
              {{ pokemon.types[0].type.name.charAt(0).toUpperCase() + pokemon.types[0].type.name.slice(1) }} 
              {{ pokemon.types.length > 1 ? "/" + " " + pokemon.types[1].type.name.charAt(0).toUpperCase() + pokemon.types[1].type.name.slice(1) : "" }}             
            </ion-col>
            <ion-col>
              <h4>Height</h4>
              {{ pokemon.height }}
            </ion-col>
            <ion-col>
              <h4>Weight</h4>
              {{ pokemon.weight }}
            </ion-col>
        </ion-row>
      </div>

  <ng-template #loading>Insert Pokémon name or ID</ng-template>

  </ion-grid>

  <p>
    <button ion-button color="primary" menuToggle>Menu</button>
    <button ion-button color="secondary" icon-left (click)='randomPokemon();' >
        <ion-icon name="md-sync"></ion-icon>
        Random Pokémon
    </button>    
  </p>

</ion-content>