page-home {

}

.profile {
    display: block;
    margin: -10px auto -15px;
    height: 200px;
}

.center-text{
    text-align: center;
}

.name:first-letter {
    text-transform: uppercase;
}

.heart{
    font-size: 25px;
}

.selected{
    color: #FE2E2E;
}
