<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <button ion-button  menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <div *ngIf="favorites.length > 0; else loading">
      <ion-row>
          <ion-col class="favorite" *ngFor="let pokemon of favorites">
            <p>N° {{ pokemon.id > 10 ? pokemon.id : '0' + pokemon.id}} {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}</p>
            <img class="profile" src= '{{pokemon.sprites.front_default}}' alt="">
            <ion-icon name="md-trash" (click)='removeFavorite(pokemon);'></ion-icon>    
          </ion-col>

      </ion-row>
    </div>

<ng-template #loading>No favorite pokemons yet!</ng-template>

</ion-grid>

</ion-content>
